<h1>ブログ一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @boots.each do |boot| %>
  <tr>
    <td><%= boot.title %></td>
    <td><%= boot.content %></td>
    <td><%= link_to '詳細を確認する', boot_path(boot.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくブログを投稿する', new_boot_path %>
